<!-- 
/*********************************************************************
* PROJECT: ResearchPal
* FILE NAME: apply.ejs
*
* AUTHOR: 
*   Heesung Ahn
*   Trevor Baron
*   Anuj Bhatia
*   Angela Pang
*   Dan Robinson 
*
* DATE CREATED: 01/10/2013
*********************************************************************/
-->
<% include includes/header %>

            <div class="masthead">
                <div class="container">
                    <div class="row">
                        
                        <h1 style="display: inline;">
                            Application Form
                        </h1>
                        <div class="well" style="margin-top:100px;border:solid 10px;">
                        <form id="application">
                                <h3>Your Info</h3>
                                <input id="fNameID" name="fname" type="text" placeholder="First Name">
                                <input id="lNameID" name="lname" type="text" placeholder="Last Name">
                                <input id="emailID" name="email" type="text" placeholder="Email">
                                <div id='fNameError' style="display: none"><font color="#FF0000">* First Name must be entered</font></div>
                                <div id='lNameError' style="display: none"><font color="#FF0000">* Last Name must be entered</font></div>
                                <div id='emailError' style="display: none"><font color="#FF0000">* An email must be entered</font></div>
                                <input name="groupID" type="hidden" value=<%= form.groupID %>>
                                <h3>Additional Questions</h3>
                                <%- form.extraQuestions %>
                                <br>
                                <textarea id="ansID" rows="10" name="answers" style="width:100%;"></textarea>
                                <div id='answerError' style="display: none"><font color="#FF0000">* Answers to the above questions must be provided</font></div>
                                <br>
                                <p>I agree to everything above <input id="agreeID" type="checkbox"></p>
                                <button id="apply" type="submit" class="btn btn-danger">Submit</button>
                            <!--<fieldset>
                                <input name="username" type="text" placeholder="Username" /><br><br>
                                <input name="password" type="text" placeholder="Password" /><br><br>
                                <button id="loginButton" type="submit" class="btn btn-danger">Login</button>
                            </fieldset>-->
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="push">
            </div>
        </div>

        <% include includes/footer %>


        <script>
              

              $("#apply").click(function() {
                var errorFlag = 0;
                document.getElementById('fNameError').style.display='none'
                document.getElementById('lNameError').style.display='none'
                document.getElementById('emailError').style.display='none'

                var isChecked = $('#agreeID').is(':checked');



                if(document.getElementById("fNameID").value == "")
                {
                  document.getElementById('fNameError').style.display='block'
                  errorFlag = 1;
                }
                if(document.getElementById("lNameID").value == "") {
                  document.getElementById('lNameError').style.display='block'
                  errorFlag = 1;
                }
                if(document.getElementById("emailID").value == "") {
                  document.getElementById('emailError').style.display='block'
                  errorFlag = 1;
                }
                if(document.getElementById("ansID").value == "") {
                  document.getElementById('answerError').style.display='block'
                  errorFlag = 1;
                }
                if (isChecked == false) {
                  alert("You must agree to all research policies.");
                  errorFlag = 1;
                }

                console.log(errorFlag);
                if (errorFlag == 1) {
                   return false;
                }

                 $.ajax({
                   type: "POST",
                   url: '/submitApplication',
                   data: $("#application").serialize(), // serializes the form's elements.
                   success: function(data)
                   {
                        alert('Application Submitted!');
                        window.location = "/home";
                   }
                 });

                 return false;
            });
        </script>