<% include includes/header %>

            <div class="masthead">
                <div class="container-wide">
                    <div class="row">
                        
                        <h1 style="display: inline;">
                            Application Form
                        </h1>
                        <div class="well" style="margin-top:100px;border:solid 10px;">
                        <form id="application">
                                <h3>Your Info</h3>
                                <input name="fname" type="text" placeholder="First Name">
                                <input name="lname" type="text" placeholder="Last Name">
                                <input name="email" type="text" placeholder="Email">
                                <input name="groupID" type="hidden" value=<%= form.groupID %>>
                                <h3>Additional Questions</h3>
                                <%- form.extraQuestions %>
                                <br>
                                <textarea rows="10" name="answers" style="width:100%;"></textarea>
                                <br>
                                <p>I agree to everything above <input type="checkbox"></p>
                                <button id="apply" type="submit" class="btn btn-danger">Submit</button>
                            <!--<fieldset>
                                <input name="username" type="text" placeholder="Username" /><br><br>
                                <input name="password" type="text" placeholder="Password" /><br><br>
                                <button id="loginButton" type="submit" class="btn btn-danger">Login</button>
                            </fieldset>-->
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="push">
            </div>
        </div>

        <% include includes/footer %>
        <script>
              $("#apply").click(function() {
                 $.ajax({
                   type: "POST",
                   url: '/submitApplication',
                   data: $("#application").serialize(), // serializes the form's elements.
                   success: function(data)
                   {
                        alert('Application Submitted!');
                        window.location = "/dashboard";
                   }
                 });

                 return false;
            });
        </script>