<% include includes/header %>

            <div class="masthead">
                <div class="container-wide">
                    <div class="row">
                        
                        <h1 style="display: inline;">
                            Create Group
                        </h1>
                        <div class="well" style="margin-top:100px;border:solid 10px;">
                        <form id="createGroup">
                                <h3>Group Info</h3>
                                <input name="name" type="text" placeholder="Group Name">
                                <input name="keyword" type="text" placeholder="Keyword">
                                <input type="date" name="start">
                                <input type="date" name="end">
                                <h3>Additional Info and questions to be displayed on application form</h3>
                                <br>
                                <textarea rows="10" name="questions" style="width:100%;"></textarea>
                                <br>
                                <br>
                                <button id="create" type="submit" class="btn btn-danger">Create</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="push">
            </div>
        </div>

        <% include includes/footer %>
        <script>
             $("#create").click(function() {
                 $.ajax({
                   type: "POST",
                   url: '/createGroup',
                   data: $("#createGroup").serialize(), // serializes the form's elements.
                   success: function(data)
                   {
                        alert('Created!');
                        window.location = "/dashboard";
                   }
                 });

                 return false;
            });
        </script>