<% include includes/header %>

            <div class="masthead">
                <div class="container-wide">
                    <div class="row">
                        <center>
                        <h1 style="display: inline;">
                            Dashboard
                        </h1><br>
                        <a href="/createForm"><button type="submit" class="btn btn-danger">Create Form</button></a>
                        <a href="/researchAuth/logout"><button type="submit" class="btn btn-danger">Logout</button></a>
                    </center>
                    </div>
                </div>
            </div>
            
            <div id="push">
            </div>
        </div>
        <% include includes/footer %>
