<% include includes/header %>

            <div class="masthead">
                <div class="container-wide">
                    <div class="row">
                        <h1 style="display: inline;">
                            Research Pal
                        </h1>
                        <form>
                            <fieldset>
                                <label>Enter your PIN</label>
                                <input type="text" placeholder="PIN..." />
                                <button type="submit" class="btn btn-danger">Enter</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            
            <div id="push">
            </div>
        </div>
        <div id="footer">
            <div class="container-wide">
                <p class="muted credit">
                    Site by
                    <a href="http://trevordev.com">Trevor Baron</a>
                    .
                    <t class="pull-right" style="font-size: 20px;">
                       <!-- <img id="logo" width="130px" src="/public/mainSite/assets/img/nodejs.png" alt="node.js">-->
            <i class="icon-facebook-sign"></i> <i class="icon-twitter-sign"></i> <i class="icon-google-plus-sign"></i>
            </t>
                </p>
            </div>
        </div>
        <% include includes/footer %>
