<!-- HTML Header File -->
<% include includes/header %>

	<!-- Page Title -->
 	<div class="masthead">
		<div class="container-wide">
        	<div class="row centered-text">
            	<img class="" src="/public/assets/custom/img/Research Pal v5.png" alt="Research Pal">
                <h1 class="title">
                	Researcher Login
				</h1>
        	</div>
    	</div>
	</div>

	<!-- Reasearcher Signin Form -->
	<div class="container-wide">
    	<div class="row">
			<center>                    
				<div class="hero-unit" style="max-width:450px; ">
                    <form id="login">
                        <fieldset>
                        	<div class="text-left">
                        			<p style="max-height:20px;">Username: </p>
									<input name="username" type="text" class="form-control" placeholder="">
									<br>
									<p style="max-height:20px;">Password: </p>
									<input name="password" type="password" class="form-control" placeholder="">
									<br>
	                        	</div>
	                    	<button id="loginButton" type="submit" class="btn btn-primary">Login</button>
	                	</fieldset>
	            	</form>
            	</div>  
        	</center>		    
    	</div> <!-- /row -->
	</div> <!-- /container-wide -->
    

	<!-- Load Java Script -->
    <% include includes/footer %>
    
    <script>
         $("#loginButton").click(function() {
             $.ajax({
               type: "POST",
               url: '/researchAuth',
               data: $("#login").serialize(), // serializes the form's elements.
               success: function(data)
               {
                   if(data=='success'){
                    window.location = "/dashboard";
                   }else{
                    alert('Invalid Login');
                   }
               }
             });

             return false;
        });
    </script>