<% include includes/header %>
    <h1 class="title">
                            Messages
    </h1>
    <div class="row">
        <div class="col-md-12">
			<div class="well" style="background-color:#444444">
				<div style="text-align:left">
				    <div class="well" style="width:75%;display: inline-block;">
				    	<h3 style="margin-top:2px">You</h3>
					    <p>
					    What is your favorite food?
					    </p>
				    </div>
				</div>
				<div style="text-align:right">
				    <div class="well" style="width:75%;display: inline-block;">
				    	<h3 style="margin-top:2px">Participant</h3>
					    <p>
					    Pizza!
					    </p>
				    </div>
				</div>
				<form id="sendMessage">
					<textarea name="message" style="width:85%"></textarea>
					<a id="send" class="btn btn-primary" style="width:10%;">Send</a>
				</form>
		    </div>    
		    
        </div>
    </div>
  
  <% include includes/footer %>
  <script>
              $("#send").click(function() {
                 alert("hit");

                 return false;
            });
        </script>