<!-- Side Menu Bar -->
<div class="sideMenu">     
    <nav class="navbar navbar-inverse" role="navigation"> 
        <a class="space" href="#">Top</a>
        <a class="navbar-side" href="/dashboard">Home</a>
        <a class="navbar-side" href="/createForm">Create Group</a>        
	</nav>      
</div> <!-- /sideMenu -->