<!-- Top Menu Bar -->
<div class="menuBar">
    <nav class="navbar navbar-default" style="color-background: #000000;">
        <div class="row" style="max-width: 99.5%;">
            <div class="topMenu col-md-6">          
                <table>
                    <tr>
                        <td>
                            <a href="/"> <img class="icon" src="/public/assets/custom/img/Research Pal v5.png"
                                alt="Research Pal">
                            </a>
                        </td>
                        <td>
                            <p class="title">Dashboard</p>
                        </td>
                    </tr>
                </table>          
            </div>

            <div class="researcherInfo col-md-6"> 
                <table class="userInfo pull-right">
                    <tr>
                        <td>
                            <p class="welcomeTag">Welcome <%= username %></p>
                        </td>
                        <td>
                            <a href="/researchAuth/logout"><button type="submit" class="btn logout btn-danger">Logout</button></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </nav>
</div>