<!-- 
/*********************************************************************
* PROJECT: ResearchPal
* FILE NAME: footer.ejs
*
* AUTHOR: 
*   Heesung Ahn
*   Trevor Baron
*   Anuj Bhatia
*   Angela Pang
*   Dan Robinson 
*
* DATE CREATED: 01/10/2013
*********************************************************************/
-->

    	<!-- JavaScript -->        
        <script src="/public/bower_components/jquery/jquery.min.js"></script>
        <script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>

</html>